.section.info
	.grid-x.grid-margin-x
		.cell.medium-2
			.info__photo
				.img.sprite-avatar
		.cell.medium-6
			.info__sheet
				.info__sheet_item
					.info__sheet_item_header
						span Имя
					.info__sheet_item_text
						span Наумов Евгений Геннадиевич
				.info__sheet_item
					.info__sheet_item_header
						span Дата рождения
					.info__sheet_item_text
						span 11 января 1994 г.
				.info__sheet_item
					.info__sheet_item_header
						span Город
					.info__sheet_item_text
						span Волгоград
				.info__sheet_item
					.info__sheet_item_header
						span Контактные данные
					.info__sheet_item_text
						span Skype: aske34rus
						span E-Mail: xensers@gmail.com
						span Телефон: +7 (919) 004 52-29
	.info__stamp
// end: .section.info
