.section.skillJs
	.grid-x.grid-margin-x
		.cell.medium-4
			.skillJs__meter
				include ../images/meter.svg
				.skillJs__warning
		.cell.medium-4
			h5.skillJs__header
				| Мой уровень владения
				br
				| Java Script
			.skillJs__counter
				| 0
// end: .section.skillJs
