extends pug/base

append vars
	-
		var baseDir = './'
		var title = 'Анкета Наумова Евгения Геннадиевича'

block content

	.grid-container
		.section.info
			.grid-x.grid-margin-x
				.cell.medium-2
					.info__photo
						.img.sprite-avatar
				.cell.medium-6
					.info__sheet
						.info__sheet_item
							.info__sheet_item_header
								span Имя
							.info__sheet_item_text
								span Наумов Евгений Геннадиевич
						.info__sheet_item
							.info__sheet_item_header
								span Дата рождения
							.info__sheet_item_text
								span 11 января 1994 г.
						.info__sheet_item
							.info__sheet_item_header
								span Город
							.info__sheet_item_text
								span Волгоград
						.info__sheet_item
							.info__sheet_item_header
								span Контактные данные
							.info__sheet_item_text
								span Skype: aske34rus
								span E-Mail: xensers@gmail.com
								span Телефон: +7 (919) 004 52-29
			.info__stamp
		// end: .section.info

		.section.skills
			h5.skills__header
				| Навыки
			.skills__list.grid-x.grid-margin-x
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| HTML5
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| SASS
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| VANILLAJS
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| GIT
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| CSS3
				.skills__list_item.cell.small-4.medium-2
					span.checkbox
					| LESS
				.skills__list_item.cell.small-4.medium-2
					span.checkbox
					| ANGULAR
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| FOUNDATION
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| БЭМ
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| GULP
				.skills__list_item.cell.small-4.medium-2
					span.checkbox.chek-it
					| JQUERY
				.skills__list_item.cell.medium-2
					span.checkbox.chek-it
					| BOOTSTRAP
		// end: .section.skills

		.section.skillJs
			.grid-x.grid-margin-x
				.cell.medium-4
					.skillJs__meter
						include images/meter.svg
				.cell.medium-4
					h5.skillJs__header
						| Мой уровень владения
						br
						| Java Script
					.skillJs__counter
						| 0
		// end: .section.skillJs
