extends pug/base

append vars
	-
		baseDir = './'
		title = 'Анкета Наумова Евгения Геннадиевича'
		meta.viewport = 'width=device-width, initial-scale=1'

block content
	.grid-container
		include pug/info
		include pug/skills
		include pug/skillJs
