extends pug/base

append vars
	-
		var baseDir = './'
		var title = 'Анкета Наумова Евгения Геннадиевича'

block content
	.grid-container
		include pug/info
		include pug/skills
		include pug/skillJs
