$sprites: (
	"approved": (
		normal: (
			x: 0,
			y: 0,
			width: 184,
			height: 166,
			image: "sprites.png",
			total_width: 324,
			total_height: 166,
		),
		retina: (
			x: 0,
			y: 0,
			width: 368,
			height: 332,
			image: "sprites@2x.png",
			total_width: 648,
			total_height: 332,
		),
	),
	"avatar": (
		normal: (
			x: 186,
			y: 0,
			width: 138,
			height: 138,
			image: "sprites.png",
			total_width: 324,
			total_height: 166,
		),
		retina: (
			x: 372,
			y: 0,
			width: 276,
			height: 276,
			image: "sprites@2x.png",
			total_width: 648,
			total_height: 332,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
